body{
font-family: 'Poppins', sans-serif;
}

.row .produk .card{
    height: 350px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    box-shadow:5px 5px 15px rgba(100,100,100,0.3);
}

.row .produk .card img{
    max-height: 280px;
    border-radius: 15px;
}

.produkimg img{
    width: 400px;
    border-radius: 10px;
}

